In [37]:
import pandas as pd
data = pd.read_csv('messy_data.csv', na_values='NAN', )
data.head(200)

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,0.50,IF,D,Ideal,5.1,5.15,3.2,61.5,,3000
1,0.70,vvs2,E,premium,5.7,,3.52,62,59,4500
2,NaN,Si2,h,Good,4.3,4.31,,62.3,56,700
3,1.20,if,d,ideal,,6.82,4.2,61.7,58,10000
4,0.90,I1,J,Fair,6,,3.7,61.7,,2400
...,...,...,...,...,...,...,...,...,...,...
195,0.45,si1,F,very good,4.9,4.89,,62.4,59,2300
196,1.25,VVS2,H,Good,6.9,,4.27,,55,10400
197,0.55,i1,I,Premium,5.3,,3.28,62.3,57,150000
198,0.85,Si2,E,fair,6.1,6.13,3.78,,58,6300
199,NaN,VVS1,G,Very good,6.4,6.43,3.97,62.5,,7500

In [30]:
columns = ['carat', ' clarity',  ' color', ' cut', ' x dimension', ' y dimension', ' z dimension',
                          ' depth', ' table', ' price']
for column in columns:
    print(f'{column} :')
    print(f'ile braków danych: {sum(data[column].isna())}')
    if column not in [ 'carat', 'color', 'cut','table']:
        print(f'unikalne wartości: {data[column].value_counts()}')
    else:
        print(f'unikalne wartości: {data[column].nunique()}')

carat :
ile braków danych: 50
unikalne wartości: 26
 clarity :
ile braków danych: 0
unikalne wartości:  clarity
 i1      26
 si2     23
 VVS1    23
 IF      20
 VVS2    19
 vvs2    18
 si1     18
 Si2     16
 Si1     12
 vvs1    11
 I1       5
 SI2      5
 if       3
 Vvs1     1
Name: count, dtype: int64
 color :
ile braków danych: 0
unikalne wartości:  color
 G            36
 I            33
 H            30
 F            24
 D            13
 E            13
 e            12
 d             9
 f             6
 j             6
 colorless     6
 h             4
 g             4
 J             2
 Colorless     2
Name: count, dtype: int64
 cut :
ile braków danych: 0
unikalne wartości:  cut
 Premium      34
 Good         30
 fair         24
 Ideal        23
 good         21
 very good    19
 Fair         12
 Very good    10
 ideal         9
 Very Good     9
 premium       7
 very Good     2
Name: count, dtype: int64
 x dimension :
ile braków danych: 0
unikalne wartości:  x dimension
 5.9    11
 6.9    10
 5.6    10
 5.7    10
 6.4     9
 6.3     9
 6.6     9
 4.8     9
 6.8     9
 5.3     8
 5.5     8
 5.4     7
 5.2     7
 6.5     7
 6.1     7
 6.7     7
 6.2     6
 5.8     6
 6.0     6
 5.1     6
 4.9     6
 7.1     5
 4.7     5
 4.5     3
 4.6     3
 7.2     3
         3
 7.0     3
 7.3     2
 4.4     2
 4.3     2
 3.9     1
 6       1
Name: count, dtype: int64
 y dimension :
ile braków danych: 0
unikalne wartości:  y dimension
         64
 5.58     4
 5.49     4
 6.31     3
 4.69     3
         ..
 6.32     1
 5.23     1
 6.51     1
 4.77     1
 6.43     1
Name: count, Length: 90, dtype: int64
 z dimension :
ile braków danych: 0
unikalne wartości:  z dimension
         48
 4.21     6
 3.97     5
 3.35     4
 3.90     4
         ..
 2.95     1
 4.3      1
 2.97     1
 3.91     1
 4.23     1
Name: count, Length: 82, dtype: int64
 depth :
ile braków danych: 0
unikalne wartości:  depth
         67
 62.3    17
 62.1    17
 62.4    16
 62.2    14
 62.5    14
 62.6    14
 62.7    14
 62.8     6
 61.7     3
 62.0     3
 62       3
 61.9     3
 61.5     2
 61.8     2
 61.6     2
 61.3     1
 61.2     1
 63       1
Name: count, dtype: int64
 table :
ile braków danych: 0
unikalne wartości:  table
 56    39
 58    39
 57    38
       33
 59    23
 55    17
 54    10
 60     1
Name: count, dtype: int64
 price :
ile braków danych: 0
unikalne wartości:  price
 2600      7
 2500      5
 2100      5
 3100      5
 2200      5
          ..
 1100      1
 1300      1
 4700      1
 1900      1
 150000    1
Name: count, Length: 90, dtype: int64